* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #793c20;
}

.header {
    background: #9bb7d4;
}

.footer {
    background: #9bb7d4;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer-item {
    padding: 0 20px;
    line-height: 50px;
    transition: 3s;
    text-decoration: none;
    color: #b55a30;
    transition: color 0.5s;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: block;
    width: 50%;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #3c1e10;
    border-bottom: 1px solid #3c1e10;
    padding-bottom: 3px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 3s;
    text-decoration: none;
    color: #b55a30;
    transition: color 0.5s;
}

.nav-link:hover {
    color: #3c1e10;
}

.section-item a {
    color: #b55a30;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #3c1e10;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
    header {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list {
        display: flex;
        overflow-x: scroll;
        flex-direction: column;
        align-items: flex-start;
    }
}

.img-item {
    display: block;
    float: left;
    width: 20%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.img {
    width: 359.8px;
    height: 465.8px;
    box-shadow: 0 0 4px #666;
}

code {
    display: block;
    background: #dbe5f0;
    box-shadow: #666;
    font-size: 12pt;
    font-weight: 700;
    line-height: 1.5;
    padding: 20px;
}